@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#doctor {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  font-family:  "Noto Sans", sans-serif;
  color: white;
  text-align: center;
  transition: text-decoration 2s ease; /* Transition for underline effect */
}

.overlay-text:hover {
  text-decoration: underline; /* Underline on hover */
}