@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#doctor {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.overlay-textt {
  position: absolute;
  //top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  font-family:  "Noto Sans", sans-serif;
  color: white;
  text-align: center;
  transition: text-decoration 2s ease; /* Transition for underline effect */
  padding-bottom:95vh;
  padding-left:10vw;
}

.overlay-textt:hover {
  text-decoration: underline; /* Underline on hover */
}

#ourfindings {
  font-size:40px;
  text-align:center;
  color: #008adf;
}


  #table {
      width: 40%; 
      height: auto;
    margin-left:30vw;
    margin-top:5vh;
    image-rendering: crisp-edges;
    border: 2px solid black;
  }
p{
  text-align:center;
  margin-top:2vh;
}

#h3table {
  text-align:center;
  margin-top:2vh;
  color:red;
  font-size:20px;
  margin-right:10vh;
  margin-left:10vh;
  border: 2px solid black;
}

#smokergender {
  display: flex;
  justify-content: center; /* Horizontally center the flex items */
  margin-top: 7vh;
  padding-left: 1vw;
  align-items: center;
  width: 100%;
   border: 2px solid black;
}

// #genderr{
//   margin-lef
// }