.login-container{
  width:100%;
  align-content:center;
}


#healthid {
  border : 1px solid black;
  text-align:center;
  margin-left:1%;
  color:red;
  margin-top:3%;
}

#healthidlabel{
  margin-left:40%;
  margin-top:3%;
}

#submitlabel{
  margin-left:50%;
  margin-top:2%;
  background:red;
  color:white;
}